<!DOCTYPE html>
<html>
    <head>
        <link href='/assets/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Heloooooooooooo</h1>
        <h2>Welcom to Index.html</h2>
    </body>
</html>